@{
    Layout = "";
}

@if (ViewBag.data == "add")
{
    <partial name="partials/store/_addStore" />
}
else if (ViewBag.data == "remove")
{
    <partial name="partials/store/_removeStore" />
}else {
    <p>WTF</p>
}

<script>
    $(document).ready(function () {
        $('#pharmacyTable').DataTable();
    });
</script>