<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link href="//cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>
<body>
    <div class="body">
        <aside>
            <div class="logo">
                <img src="~/images/icon/logo.png" alt=""/>
            </div>
            <ul id="aside-menu">
                <li>
                    <a href="javascript:void(0)" id="dashboardLink" class="list-link active" onclick="loadPage('search')">
                        <i class="material-icons-outlined">search</i> <span>Search</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" id="settingsLink" class="list-link" onclick="loadPage('password_user')"><i class="material-icons-outlined">vpn_key</i> <span>Change Password</span></a>
                </li>
                <li>
                    <a href="../account/logout" id="settingsLink" class="list-link"><i class="material-icons-outlined">logout</i> <span>Logout</span></a>
                </li>
            </ul>
        </aside>
        <div class="content">
            <nav>
                <div class="nav-row">
                    <div id="ca-collapse" style="padding: 1.2rem;cursor: pointer">
                        <i class="material-icons-outlined">close</i>
                    </div>
                    <div class="page-title-con">
                        <p class="page-title">@ViewBag.Name</p>
                    </div>
                    <div class="page-settings">

                    </div>
                </div>
            </nav>
            <div class="main" id="mainpage">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal fade" id="medinfo" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modalSet">
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
