@using PharmacyLocator.Models.Services
@inject ILocationService _locservice

@model IEnumerable<PharmacyLocator.Models.Pharmacy>

<div id="main-content">
    <div class="mt-5">
        <table id="pharmacyTable" class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach(var pharmacy in Model) {
                    Location location = await _locservice.GetByIdAsync(Int64.Parse(pharmacy.LocationId.ToString()));
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@pharmacy.Name</td>
                        <td>@pharmacy.Email</td>
                        <td>@location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>