@using PharmacyLocator.Models.Services
@inject IStoreService _service
@inject IMedicineService _medservice
@inject IPharmacyService _pharmaservice
@inject ILocationService _locservice
<div class="wrap">
    <div class="search">
        <input type="search" class="searchTerm" list="medicinesHint" placeholder="Search ..." aria-label="Search" onkeyup="showHint(this.value)">
        <button type="submit" class="searchButton" onclick="search()">
        <datalist id="medicinesHint">
        </datalist>
            <div class="row">
                <div class="col-md-3">
                    <i class="material-icons" style="margin: 3px 0px 0px 5px;display: inline-block;">search</i>
                </div>
                <div class="col-md-6 d-xxl-block d-xl-block d-sm-none d-md-none d-lg-block d-none">Search</div>
            </div>
        </button>
    </div>
    <div class="medicineDetails mt-3">
        <center>
            <a href="#" class="row d-none" style="width: 19%;border: 3px solid #252F3F;border-radius: 9px;padding: 6px 15px 0px 15px;" id="medDetails" data-med="" data-bs-toggle='modal' data-bs-target='#medinfo'>
                <div class="col-2"><span class="material-icons-outlined">info</span> </div>
                <div class="col-10 text-start">Medicine Details</div>
            </a>
        </center>
        </div>

</div>
<div class="mt-5" id="search-result">
    
</div>
<div class="modal fade" id="medinfo" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalSet">
        </div>
    </div>
</div>