@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy Locator</title>
    <link href="//cdn.jsdelivr.net/npm/sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>

<div class="body">
    <div class="content">
        <div id="login-box">
            <form action="/admin/login" method="post">
                <h2 class="text-center">Login</h2>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username/Email</label>
                    <input type="text" name="username" class="form-control" id="usernameInput" tabindex="1">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordInput" tabindex="2">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn ca-btn mt-3" type="submit" name="login">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>