@{
    Layout = "";
}
@model IEnumerable<PharmacyLocator.Models.Requests>

<div id="main-content">
    <div class="mt-5">
        <table id="pharmacyTable" class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach (var requests in Model)
                {
                    counter++;
                    <tr onclick="RequestSeen('@requests.Id')">
                        <td>@counter</td>
                        <td>@requests.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>