@using PharmacyLocator.Models.Services
@model IEnumerable<PharmacyLocator.Models.Medicine>
@inject IAdminService adminservice
@{
    Layout = "";
}
<div id="main-content">
    <div class="mt-5">
        <table id="pharmacyTable" class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Added By</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                }
                @foreach (var medicine in Model)
                {
                    counter++;
                    var adminName = (await adminservice.GetByIdAsync(medicine.AddBy)).Name;
                    var meddisc = medicine.Description == null ? "" : medicine.Description.Substring(0, medicine.Description.Length > 30 ? 30 : medicine.Description.Length);
                    <tr>
                    <td>@counter</td>
                    <td>@medicine.Name</td>
                    <td>@meddisc</td>
                    <td>@adminName</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>